
.cdm-link #preview-list {
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.cdm-link #preview-list > li {
    width:100%;
}

.cdm-link #fieldset-submit_buttons {
	  display:none;
}

.cdm-link #cdm-preview > #numDocLi {
    font-size:1em;
    max-width:125px;
}


.cdm-link #cdm-preview > label {
    float: right;
    font-size: 1.1em;
    position: relative;
    right: 15px;
    top: -25px;
}

.cdm-link .field select {
    width: auto;
    margin-left:15px; 
}

.cdm-link #cdm-search-blurb {
position:absolute;
  top: 10px;
  bottom: 0;
  left: 75px;
  right: 0;
  background-color:white;
  border:1px solid black;
  visibility:hidden;
  -webkit-transition: visibility opacity 0.5s;
  height:50px;
  width:650px;
  padding:5px;
  border-radius:10px;
}

.cdm-link #cdm-search-div:hover > #cdm-search-blurb {
    visibility: visible;
}

.cdm-link #cdmimportsubmit {
display:block;		   
}

.cdm-link #cdm-search-div  {
    position:relative;
    margin-top: 20px;
}
.cdm-link #cdm-preview {
    max-height: 500px;
    overflow-y: auto;
    width:80%;
}
.cdm-link #preview-list li {
    line-height:75px;
    overflow:hidden;
    border-top: 1px solid #000000;
}
.cdm-link #preview-list li p {
    float: right;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 75px;
    max-width: 300px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
}
.cdm-link #preview-list li input{
    margin-right: 5px;
}
.cdm-link #preview-list li img {
    height:62px;
    width:62px;
    vertical-align:middle;
    max-width:100px;
}

.cdm-link #preview-list {
    list-style-type:none;
}

.cdm-link #select-buttons {
    margin-left:30%;
}
.cdm-link #select-buttons button {
    margin-bottom:0;
}

.cdm-link #fieldset-submit_buttons input {
    margin-left: 40%;
    margin-right: auto;
    margin-top: 15px;
}